@model Asset_Management.Models.SearchBindModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="container-fluid" style="padding:unset;">
    <form asp-controller="Home" asp-action="Search" enctype="multipart/form-data" style="width:100%" onsubmit="searchMain(this); return false;">
        <div class="input-group">
            <input asp-for="Search" class="form-control form-control-dark" type="text" style="height: 100%;" placeholder="Search" aria-label="Search" tabindex="1">
            <select asp-for="SearchType" asp-items="Model.SearchTypes" class="form-control form-control-dark" tabindex="2" style="height: 100%;"></select>

            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </div>
        </div>
    </form>
    <div id="search-dropdown" class="search-dropdown shadow-5" style="">
        <p style="margin-bottom: 0; text-align: right; padding: 0.4em;"><span style=" cursor: pointer;" id="searchClose"><i class="fas fa-times-circle" ></i></span></p>
        <ul id="mdb-5-search-list" class="list-unstyled mb-0 ps" style="max-height:250px;overflow-y:auto;">
        </ul>
        <hr class="my-0">
        <p class="text-muted small text-end pe-3 mt-3" style="padding-right: 1rem !important;padding-left: 1rem !important;"><span style="text-align: left !important; "></span><span style="text-align: right !important; ">search results: <strong id="mdb-5-search-count">0</strong></span></p>
    </div>
</div>