@model Asset_Management.Models.SQL.ServiceRecord

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Service Record</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AssetId" class="control-label"></label>
                <select asp-for="AssetId" class="form-control" asp-items="ViewBag.Asset"></select>
            </div>
            <div class="form-group">
                <label asp-for="Problem" class="control-label"></label>
                <input asp-for="Problem" class="form-control" />
                <span asp-validation-for="Problem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartsReplaced" class="control-label"></label>
                <input asp-for="PartsReplaced" class="form-control" />
                <span asp-validation-for="PartsReplaced" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionOfWork" class="control-label"></label>
                <input asp-for="DescriptionOfWork" class="form-control" />
                <span asp-validation-for="DescriptionOfWork" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeviceName" class="control-label"></label>
                <input asp-for="DeviceName" class="form-control" />
                <span asp-validation-for="DeviceName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceDate" class="control-label"></label>
                <input asp-for="ServiceDate" class="form-control" />
                <span asp-validation-for="ServiceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
